		<nav class="navbar navbar-default" role="navigation">
	
			<div class="container">
				
				<div class="row">
					
					<div class="col-xs-9 col-sm-9 col-md-10">
										
						<a class="navbar-brand" href="#">
							
							<img class="logo hidden-xs" src="/img/bigroom/logo.jpg"/>
							<img class="logo hidden-sm hidden-md hidden-lg" src="/img/bigroom/logoSmall.jpg"/>
						</a>
							
							
					<!-- // Hide Languages and other buttons for now //
					
						<div id="languages" style="padding:15px;display:none">
				            <span id="selectedLocale" th:text="${session.blLocale.localeCode}" style="display: none" />
				
				            <a href="javascript:;" onclick="BLC.addUrlParam(document.location.search, 'blLocaleCode', 'en_US')">
				                <img id="en_US" src="img/flags/United-States.png" th:src="@{/img/flags/United-States.png}" alt="United States" title="English" />
				            </a>
				
				            <a href="javascript:;" onclick="BLC.addUrlParam(document.location.search, 'blLocaleCode', 'en_GB')">
				                <img id="en_GB" src="img/flags/United-Kingdom.png" th:src="@{/img/flags/United-Kingdom.png}" alt="United Kingdom" title="English (UK)"/>
				            </a>
				
				            <a  href="javascript:;" onclick="BLC.addUrlParam(document.location.search, 'blLocaleCode', 'es_MX')">
				                <img id="es_MX" src="img/flags/Mexico.png" th:src="@{/img/flags/Mexico.png}" alt="Mexico" title="Spanish (Mexico)"/>
				            </a>
				
				            <a href="javascript:;" onclick="BLC.addUrlParam(document.location.search, 'blLocaleCode', 'es_ES')">
				                <img id="es_ES" src="img/flags/Mexico.png" th:src="@{/img/flags/Spain.png}" alt="Spain" title="Spanish (Spain)"/>
				            </a>
				            <a href="javascript:;" onclick="BLC.addUrlParam(document.location.search, 'blLocaleCode', 'fr_FR')">
				                <img id="fr_FR" src="img/flags/Mexico.png" th:src="@{/img/flags/France.png}" alt="France" title="French (France)" />
				            </a>
				
				        </div>
				        
					-->
										
					</div>
					
					<!-- // Hide Meal Select and Timer 
			
					<div class="col-xs-2" style="display:none;">
					
						<a id="mealSelectButton" href="/mealSelect">			
							<i class="fa fa-cutlery"></i>
							<span class="hidden-xs hidden-sm hidden-md">Meal Select</span>
						</a>
					
					</div>
										
					<div class="col-xs-4 col-sm-2 col-md-2" id="timerSection">
					
						<a id="timerButton">			
							<i class="fa fa-clock-o"></i>
							<span id="timeLeft"></span>
							<span class="hidden-xs hidden-sm hidden-md">Remaining</span>
						</a>
					
					</div>
					 -->
					
					<div class="col-xs-3 col-sm-3 col-md-2" id="dashboardSection">
					
						<a id="userButton" href="#">			
							<i class="fa fa-user"></i> 
							<span th:unless="${customer.anonymous}" th:remove="tag">
				               <span class="userName hidden-xs" th:text="${customer.firstName+' '+customer.lastName}" />
				            </span>
							<!--<span class="userName hidden-xs hidden-md">Donald McMains</span>-->
						</a>
					
					</div>
	
					
					
  				</div>

			</div> 
			  
		</nav>
		
		
		<!-- Flight Bar Start -->
		<div class="flightBar" id="flightBarSection">
			
			<nav class="navbar navbar-default" role="navigation">
				
				<div class="container">
					
					<p class="navbar-text">
						
						<!-- <button><i class="fa fa-reply"></i> <span class="hidden-xs hidden-sm">Return to Booking</span></button> 
						<span class="divider">|</span>-->
							
						<i class="fa fa-plane"></i> <b>Flight Info</b> 
						<span class="divider">|</span> <b>Passenger:</b><div th:text="${customer.firstName+' '+customer.lastName}" th:remove="tag" />
						<span class="divider"></span> <b>Flight:</b> <div th:unless="${session.flightdata==null}" th:text="${session.flightdata.flightNumber}" th:remove="tag"/>
						
						<span class="divider"></span> <b>To:</b> <div th:unless="${session.flightdata==null}" th:text="${session.flightdata.getDestinationStationSpelled()}"  th:remove="tag"/>
						
						<span class="divider"></span> <i class="fa fa-clock-o"></i> <b>Departure:</b> <div th:unless="${session.flightdata==null}" th:text="${session.flightdata.fDepartureDate}" th:remove="tag"/>
						
						<span class="divider"></span> <b>Arrival:</b> <div th:unless="${session.flightdata==null}" th:text="${session.flightdata.fArrivalDate}" th:remove="tag"/>
				
					</p>
									
				</div>
				
			</nav>
			
		</div>
		<!-- /Flight Bar  -->		
	
	<!-- 
	<script th:inline="javascript">
	var FLIGHT_DATE = '[[${session.flightdata.departureDate}]]';
	</script>
	
	<script type="text/javascript" src="/js/bigroom/js/Countdown.js"></script>
 	-->
