
<!DOCTYPE html>
<!--[if lt IE 9]> <html class="no-js lt_ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt_ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
	
<head th:include="/pops/include/head"></head>



<body class="">
		
	<!-- Header Start -->
	<div id="header" th:include="/pops/include/header"></div>
	<!-- Header End -->

	<!-- Splash -->
	<div class="jumbotron text-uppercase text-center">
		
		<div class="container">
			
			<h1>Welcome to Pre-Order</h1>
			
			<p>Browse hundreds of products delivered right to your seat</p>
				
			<p> <a id="shopNow" class="btn btn-primary btn-lg" role="button"> Shop Now</a> </p>
		
		</div>
		
	</div>
	
	<script type="text/javascript">
	
		// ON DOM Load
		$(function() {
		
			$('.jumbotron .container *').animo( { animation: 'bounceIn' });
		
		});
		
	</script>
	
	
	<!-- /Splash -->			
	<!-- View Container Start -->
	<div id="viewContainer" class="container">	
		
	<!-- ProductDetail View JS Start -->
	<script type="text/javascript">
	
	// ON DOM Load
	$(function() {
		
		// Initialize the UI manager
		UI.init("ProductDetail"); 
		
		// show the cart button
		Cart.showButton();

	});
		
	</script>
	<!-- ProductDetail View JS End -->

	<!-- ProductDetail View HTML Start -->
	<div class="categoryList"> 
		
		<ol class="breadcrumb" th:if="${#lists.size(breadcrumb) > 1}">
		
		  <li th:class="${(iterStat.last)?'active':''}" th:each="breadcrumblink,iterStat : ${breadcrumb}" >
			<div th:if="${iterStat.last}" th:remove="tag" th:utext="${breadcrumblink.name}" />
		  	<a th:if="${not iterStat.last}" th:href="@{${breadcrumblink.url}}" th:utext="${breadcrumblink.name}"></a>
		  </li>
		  
		</ol>		

				
		<div class="row row-no-gutter">
			
			<div class="hidden-xs col-sm-3">
				
				<div id="globalNavigation">
		
<ul class="list-group">
   <li class="list-group-item" th:each="category : ${categories}">
      <a class="home" 
      th:href="@{${category.url}}"  
      th:utext="${category.nameWithArrowStyle}">
      </a>
      <ul class="list-group subCategoryList">
         <li th:each="subcat : ${category.children}">
            <a th:utext="${subcat.name}" th:href="@{${subcat.url}}" />
         </li>
      </ul>
   </li>
</ul>
	
				</div>				
			</div>
			
			<div class="col-xs-12 col-sm-9">
				

			<div class="productDetail">
										
						
	<!-- Product Item -->		
	        <section id="left_column" th:object="${product}">
            <div id="product_content" class="product_container">
                <h2 th:text="*{name}"></h2>
                
                <div id="maker" th:text="*{manufacturer}"></div>
                
                <div id="price" th:if="${#object instanceof T(org.broadleafcommerce.core.catalog.domain.ProductBundle)}">
                    <div blc:price="*{salePrice}" th:if="*{onSale}" th:classappend="*{onSale}? 'sale'"></div>
                    <div blc:price="*{retailPrice}" th:classappend="*{onSale}? 'has-sale'"></div>
                </div>
                <div id="price" th:unless="${#object instanceof T(org.broadleafcommerce.core.catalog.domain.ProductBundle)}">
                    <div blc:price="*{defaultSku.salePrice}" th:if="*{defaultSku.onSale}" th:classappend="*{defaultSku.onSale}? 'sale'"></div>
                    <div blc:price="*{defaultSku.retailPrice}" th:classappend="*{defaultSku.onSale}? 'has-sale'"></div>
                </div>
                
                <div class="product-options" th:substituteby="catalog/partials/productOptions"/>                                
                
                <th:block th:with="checkInventory=*{defaultSku.inventoryType?.type == 'CHECK_QUANTITY'},
                                   availableInventory=${checkInventory ? #object.defaultSku.quantityAvailable != null and #object.defaultSku.quantityAvailable != 0 : true},
                                   inCart=${cart.containsSku(#object.defaultSku) and #lists.isEmpty(product.productOptions)}">


                    <blc:form name="theform" method="POST" th:action="@{/cart/add}">
                        <div class="product-option-nonjs" th:each="productOption : *{productOptions}" th:object="${productOption}">
                            <div class="form50">
                                <label th:text="*{label}"></label>
                                <select th:name="${'itemAttributes[' + productOption.attributeName + ']'}">
                                    <option th:each="optionValue : *{allowedValues}" th:object="${optionValue}" th:text="*{attributeValue}"></option>
                                </select>
                            </div>
                        </div>
                        
                        <div th:utext="*{longDescription}" id="description"></div>
                        
                        <div id="inventory" th:if="${checkInventory}">
                            <b>Available inventory:</b> <span th:text="*{defaultSku.quantityAvailable == null ? '0' : defaultSku.quantityAvailable}" />
                            <div th:if="${!availableInventory}" class="out_of_stock">
                                <a disabled="disabled" class="big-button gray-button">Out of Stock</a>
                            </div>
                        </div>
                        
                        <div th:class="*{'productActions' + id}">
                            <div class="in_cart" th:classappend="${!inCart}? ' hidden'">
                                <a class="modalcart big-button gray-button" th:href="@{/cart}">In Cart!</a>
                            </div>
                            <div class="add_to_cart" th:classappend="${inCart or !availableInventory}? ' hidden'">
                                <input type="hidden" name="productId" th:value="*{id}" />
                                <input type="hidden" name="quantity" value="1" />
                                <input type="submit" class="addToCart big red" th:value="#{product.buyNow}"/>
                            </div>
                            
                      <!--      <span data-title="Test Product" data-price="30.00" data-itemid="123" 
                      class="btn btn-primary text-uppercase" onclick="Cart.addItem(this);" style="" th:value="#{product.buyNow}"></span> -->

                            <p class="error" th:if="${param.errorMessage}" th:text="${param.errorMessage[0]}"></p>
                        </div>
                    </blc:form>
                </th:block>
    			<br/><br/><br/>
                
            </div>
            
            <div id="product_main_image" th:if="*{media['primary']}">
                <a th:href="@{*{#strings.replace(media['primary'].url + '?browse', 'jpg?browse', 'jpg')}}" class='jqzoom' id='zoom1' rel="gal1">
                    <img th:src="@{*{media['primary'].url}+ '?browse'}" alt='' align="left" id="main_image" /> 
                </a> 
            </div>
            
            <div id="product_thumbs_container">
                <ul id="product_thumbs" class="clearfix">
                    <li>
                        <a th:if="*{media['primary']}" href="javascript:;" class="zoomThumbActive" th:rel="${'{ gallery: ''gal1'', smallimage: ''__@{*{media['primary'].url}+'?browse'}__'', largeimage: ''__@{*{media['primary'].url}}__'' }'}" th:attr="data-tags=*{media['primary'].tags}">
                            <img th:src="@{*{media['primary'].url}}" alt="Bottle Closeup" /> 
                        </a>
                        <p th:if="*{#maps.size(media) > 1}" class="thumbs_nav">Swipe to see more... (<span th:text="'1 of ' + *{#maps.size(media) > 3 ? 3 : #maps.size(media)}"></span>)</p>
                        
                    </li>
                    
                    <li th:each="media, iterStat : *{media}" th:unless="${media.key == 'primary'}">
                        <a href="javascript:;"
                            th:rel="${'{ gallery: ''gal1'', smallimage: ''__@{${media.value.url}+'?browse'}__'', largeimage: ''__@{${media.value.url}}__'' }'}" th:attr="data-tags=${media.value.tags}">
                            <img th:src="@{${media.value.url}}" alt="Bottle Closeup" />
                        </a>
                        <p class="thumbs_nav" th:text="${iterStat.count + 1} + ' of ' + *{#maps.size(media) > 3 ? 3 : #maps.size(media)}"></p>
                    </li>
                </ul>
            </div>
        </section>
    
    </div>

	<!-- /Product Item -->
		</div>

				
			</div>
			
		</div>

	</div>
	<!-- CategoryList View HTML END -->
	
 
	<!-- View Container End -->
	
	<!-- Footer Start-->
	<div id="footer" class="container-fluid">
		
		<div class="row">
			
			<div class="col-xs-12 col-sm-6 col-md-6">
				
				<p>&copy; 2014 AIR CANDADA AND AFFILIATES</p>
				
			</div>
				
			<div class="col-xs-12 col-sm-6 col-md-6">
				
				<span>
					<img src="/img/bigroom/egate.jpg" />
				</span>
				
			</div>
						
		</div>
		
		
	</div> 
	<!-- Footer End -->

	<!-- Cart Start -->
	<div id="thecart" th:include="/pops/include/mycart"></div>
	<!-- Cart End -->

</body>
	
</html>


        
    
