
<!DOCTYPE html>
<!--[if lt IE 9]> <html class="no-js lt_ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt_ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
	
<head th:include="/pops/include/head"></head>

<body class="">
	
		
	<!-- Header Start -->
	<div id="header" th:include="/pops/include/header"></div>
	<!-- Header End -->
	
    <div id="checkout_content" class="container" role="main">
    
        <div th:substituteby="${templateName}" />
    
    </div>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        $().ready(function() {
            $('#paymentOptions dd').css({display:"none"});
            $('#paymentMethod_cc').click();
            $('#shipping_info').validate({
                rules: {
                    'address.firstName': "required",
                    'address.lastName': "required",
                    'address.addressLine1': "required",
                    'address.city': "required",
                    'address.state': "required",
                    'address.emailAddress' : "required"
                },
                messages: {
                    'address.firstName': "Please enter your first name." + "<br/>",
                    'address.lastName': "Please enter your last name." + "<br/>",
                    'address.addressLine1': "Please enter the actual address." + "<br/>",
                    'address.city': "Please enter the city." + "<br/>",
                    'address.state': "Please enter the state." + "<br/>",
                    'address.emailAddress' : "Please enter a valid email address." + "<br/>"
                },
                errorPlacement: function(error, element) {
                    $(element).parent().append(error);
                },
                highlight: function(element, errorClass) {
                    $(element).addClass('fieldError');
                },
                unhighlight: function(element, errorClass) {
                    $(element).removeClass('fieldError');
                },
                errorElement: "div",
                errorClass: "error"
            });

        });
        /*]]>*/
    </script>			

<!--	 View Container End -->
	<!-- Footer Start-->
	<div id="footer" class="container-fluid">
		
		<div class="row">
			
			<div class="col-xs-12 col-sm-6 col-md-6">
				
				<p>&copy; 2014 AIR CANADA AND AFFILIATES</p>
				
			</div>
				
			<div class="col-xs-12 col-sm-6 col-md-6">
				
				<span>
					<img src="/img/bigroom/egate.jpg" />
				</span>
				
			</div>
						
		</div>
		
		
	</div> 
	<!-- Footer End -->

</body>
</html>
