<!DOCTYPE html>
<!--[if lt IE 9]> <html class="no-js lt_ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt_ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
	
<head th:include="/pops/include/head"></head>

<body class="">
	
		
	<!-- Header Start -->
	<div id="header" th:include="/pops/include/header"></div>
	<!-- Header End -->
	
	<!-- Splash -->
	<div class="jumbotron text-uppercase text-center">

		<div class="container preSelection">
			
			<h1>Welcome to Pre-Selection</h1>
			
			<p>Please select your meals for your upcoming flight</p>
				
			<p> <a id="shopNow" class="btn btn-primary btn-lg" role="button"> Browse</a> </p>
		
		</div>
		
		<div class="container comingsoon" style="display:none;">
			
			<h2>Pre-Order, Pre-Select </h2>
			<h1>Coming Soon</h1>	
			<p> <a id="shopNow" class="btn btn-primary btn-lg" role="button"> Browse</a> </p>
		
		</div>
		
	</div>
	
	<!-- /Splash -->
	
	
    <div class="container">
    
        <div th:substituteby="${templateName}" />
    
    </div>

	<!-- Footer Start-->
	<div id="footer" class="container-fluid">
		
		<div class="row">
			
			<div class="col-xs-12 col-sm-6 col-md-6">
				
				<p>&copy; 2014 AIR CANADA AND AFFILIATES</p>
				
			</div>
				
			<div class="col-xs-12 col-sm-6 col-md-6">
				
				<span>
					<img src="/img/bigroom/egate.jpg" />
				</span>
				
			</div>
						
		</div>
		
		
	</div> 
	<!-- Footer End -->
	
	<!-- Cart Start -->
	<div id="thecart" th:include="/pops/include/mycart"></div>
	<!-- Cart End -->
	
</body>
</html>
