	<script type="text/javascript">
	
		// ON DOM Load
		$(function() {
		
			$('.jumbotron .container *').animo( { animation: 'bounceIn' });
		
		});
		
	</script>
	
	
	<!-- /Splash -->
	

			
	<!-- View Container Start -->
	<div id="viewContainer" class="container">	
		
	<!-- OrderCompleted View JS Start -->
	<script type="text/javascript">
	
	// ON DOM Load
	$(function() {
		
		// Initialize the UI manager
		UI.init("OrderCompleted"); 
		
		// show the cart button
	
	});
		
	</script>
	<!-- OrderCompleted View JS End -->
	
	<h1 th:text="'Order #'+${order.orderNumber}"/>
	
	<div class="alert alert-success" role="alert">
		
		Congratulations, your order is complete. You will be receiving a confirmation email which 
		contains a receipt of this transaction.
	</div>
	
	<p>
		<a href="/dashboard" class="btn btn-primary"> Return to Dashboard </a>
	</p>	    
	
	
	<div class="panel panel-default" style="display:none">
		
   		<div class="panel-heading">
   			
   			<h3 class="panel-title"> 
       			<i class="fa fa-cc-visa"></i> 
       			Payment
       		</h3>
       		
    	</div>
    	
		<div class="panel-body">

			<div class="row">
			
				<div class="col-xs-5">
					
					<h4>Credit Card </h4>
					
					<p> 
						VISA ending <strong>4567</strong> <br/>
						<strong>Exp.</strong> 07/2017
					</p>
					
				</div>
				
				
				<div class="col-xs-7">
					
					<h4>Billing Address</h4>
					
					<address>
					  Donald McMains<br/>
					  30 Danforth St. Suite 304<br/>
					  Portland, ME 04101<br/>
					  <abbr title="Phone">P:</abbr> (207) 221-2618
					</address>
	
				</div>
	
			</div>
			
			
		</div>
      
    </div>	
		
			
	<div class="panel panel-default" style="display:none">
		
   		<div class="panel-heading">
   			
   			<h3 class="panel-title"> 
       			<i class="fa fa-home"></i> 
       			Shipping
       		</h3>
       		
    	</div>
    	
		<div class="panel-body">

			<address>
			  Donald McMains<br/>
			  30 Danforth St. Suite 304<br/>
			  Portland, ME 04101<br/>
			  <abbr title="Phone">P:</abbr> (207) 221-2618
			</address>
				
		</div>
      
    </div>
 
	<div class="panel panel-default">
		
   		<div class="panel-heading">
   			
   			<h3 class="panel-title"> 
       			<i class="fa fa-shopping-cart"></i> 
       			My Items
       		</h3>
       		
    	</div>
    	
		<div class="panel-body">

 	<!-- Cart Item -->
	<div class="cartItem"  th:each="item : ${order.discreteOrderItems}" th:object="${item}">
										
		<div class="row row-no-gutter">
			
			<div class="col-xs-2 col-sm-1">
				
				<div class="cartItemImage">
					
					<img th:if="*{product.media['primary']}" th:src="@{*{product.media['primary'].url} + '?thumbnail'}" width="60" th:alt="*{product.name}" />
					
				</div>
				
			</div>									
			
			<div class="col-xs-4 ">
													
				<strong class="cartItemTitle" th:text="*{product.name}"></strong>
				<strong class="cartItemPrice" blc:price="*{price}"></strong>
				
			</div>
			
			<div class="col-xs-2">
				<input type="text" style="cursor:default" disabled="disabled" class="form-control text-center" maxlength="3" placeholder="Qty"  th:value="*{quantity}" />
			</div>
			
			<div class="col-xs-2">
				
				<span class="cartItemTotalPrice text-center" blc:price="*{totalPrice}"></span>
				
			</div>
			

						
		</div>
	
	</div>
	
	<!-- /Cart Item -->			
	
		</div>
      
    </div>
	 

 
	</div>
	<!-- View Container End -->