
<body style="padding:0;margin:0;">
	
	<div style="background:#EEE; padding:30px;">
		
			<div style="max-width:800px; margin:0px auto;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333; padding:0px 20px 20px 20px; background:#FFF;border:1px solid #DDD;">	
			
			<h2 style="font-weight:normal; border-bottom:1px solid #EEE; padding-bottom:10px;margin-bottom:10px;">
				<img style="height:32px; vertical-align:middle;" th:src="'http://'+${serverpath}+'/img/bigroom/logo.jpg'" />
				| <span style="margin-top:5px; font-size:14px;" th:text="'Order Confirmation #'+${orderNumber}"/> 
			</h2> 
			
			<h1 th:text="'Hello '+ ${customer.firstName} + ' ' + ${customer.lastName}" />
			<p>Thank you for placing your order!</p>
			
			<p>Your order number is <strong th:text="'#'+${orderNumber}"/></p>

			
			<h2 style="border-bottom:1px solid #EEE;padding-bottom:10px;margin-bottom:10px;"> Order Details</h2>
			
			<p>Order Number: <strong th:text="'#'+${orderNumber}"/></p>
			<p>Order Date: <strong th:text="${order.submitDate}"/></p>
			
			<p style="color:#3c763d; background:#dff0d8; border: 1px solid #d6e9c6; padding:10px;">
				
				Passenger Name: <strong th:text="${customer.firstName} + ' ' + ${customer.lastName}"/><br/>
				Flight #: <strong th:text="${flightData.flightNumber}"/><br/>
				Date: <strong th:text="${flightData.departureDateOnly}"/><br/>
				Departure Time:  <strong th:text="${flightData.departureTimeOnly}"/>  <br/>
				Origin: <strong th:text="${flightData.originStationSpelled}"/> <br/>
				Destination:<strong th:text="${flightData.destinationStationSpelled}"/>
				
			</p>
		
			<h2 style="border-bottom:1px solid #EEE;padding-bottom:10px;margin-bottom:10px;"> Your Meals</h2>
					
			<table cellspacing="0" cellpadding="0" border="0" width="100%"> 
	
	
                <tr th:each="item : ${order.discreteOrderItems}" th:object="${item}" th:id="${'productRow' + item.id}" >
                
                <td style="border-bottom: 1px dashed #EEE; padding-bottom:10px;">
		                <img th:if="*{product.media['primary']}" th:src="'http://'+${serverpath}+*{product.media['primary'].url} + '?thumbnail'" style="width:64px; height:64px;" th:alt="*{product.name}" />	
					</td>

                <td style="border-bottom: 1px dashed #EEE; padding-bottom:10px;">
                    <span th:text="*{product.name}"></span>
                    <br/>
                    <blc:product_option_display orderItem="${item}" >
                         <ul th:unless="${#lists.isEmpty(productOptionDisplayValues)}" class="productOptions">
                             <li th:each="entry: ${productOptionDisplayValues}">
                               <span  th:text="${entry.key} + ': ' + ${entry.value}"></span>
                             </li>
                         </ul>
                    </blc:product_option_display>
                </td>

				<td style="border-bottom: 1px dashed #EEE; padding-bottom:10px; text-align: right; font-weight:bold;" width="25%">$0.00</td>
            </tr>
            
				
			</table>
			
			<h2 style="border-bottom:1px solid #EEE;padding-bottom:10px;margin-bottom:10px;"> Payment Details</h2>
					
			<table cellspacing="0" cellpadding="0" border="0" width="100%">
				
				<tr>
					
					<td style="border-bottom: 1px dashed #EEE; padding:10px 0;">
						<strong>Promotion Applied</strong>
					</td>
					
					<td style="border-bottom: 1px dashed #EEE; padding:10px 0; text-align: right" width="25%">
						$0.00
					</td>
							
				</tr>
				
				<tr>
					
					<td style="border-bottom: 1px dashed #EEE; padding:10px 0;">
						<strong>Item Subtotal</strong>
					</td>
					
					<td style="border-bottom: 1px dashed #EEE; padding:10px 0; text-align: right" width="25%">
						$0.00
					</td>
							
				</tr>
				
				<tr>
					
					<td style="border-bottom: 1px dashed #EEE; padding:10px 0;">
						<strong>Total Before Tax</strong>
					</td>
					
					<td style="border-bottom: 1px dashed #EEE; padding:10px 0; text-align: right" width="25%">
						$0.00
					</td>
							
				</tr>
				
				<tr>
					
					<td style="border-bottom: 1px dashed #EEE; padding:10px 0;">
						<strong>Tax</strong>
					</td>
					
					<td style="border-bottom: 1px dashed #EEE; padding:10px 0; text-align: right" width="25%">
						$0.00
					</td>
							
				</tr>
				
				<tr>
					
					<td style="border-bottom: 1px dashed #EEE; padding:10px 0;">
						<h2 style="margin:0;padding:0;">Order Total</h2>
					</td>
					
					<td style="border-bottom: 1px dashed #EEE; padding:10px 0; text-align: right; font-weight:bold;" width="25%">
						<h2 style="margin:0;padding:0;">$0.00</h2>
					</td>
							
				</tr>
	
			</table>
			
			
			<table cellspacing="0" cellpadding="0" border="0" width="100%">

				<tr>
					
					<td style="padding-top:10px;font-size:10px;color:#CCC;" width="60%">
						
						<p>GateGroup<br/>
							1880 Campus Commons Drive, Reston, VA 20191<br/>
							<a href="#">Unsubscribe</a> | <a href="#">Privacy Policy</a>
						</p>
						
							
					</td>
					
					<td style="padding-top:10px;text-align: right;" width="25%">
						
						<img th:src="'http://'+${serverpath}+'/img/egate.jpg'" />
						
					</td>
							
				</tr>
				
			</table>
			

	  </div>
	  
	</div>

</body>