
<!DOCTYPE html>
<!--[if lt IE 9]> <html class="no-js lt_ie9"> <![endif]-->
<!--[if IE 9]> <html class="no-js lt_ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
	
<head th:include="/pops/include/head"></head>

<body class="">
	
		
	<!-- Header Start -->
	<div id="header" th:include="/pops/include/header"></div>
	<!-- Header End -->
	
	
	<!-- Splash -->
	<div class="jumbotron text-uppercase text-center">
		
		<div class="container">
			
			<h1>Welcome to Pre-Order</h1>
			
			<p>Browse hundreds of products delivered right to your seat</p>
				
			<p> <a id="shopNow" class="btn btn-primary btn-lg" role="button"> Shop Now</a> </p>
		
		</div>
		
	</div>
	 <!-- /Splash -->
	 
	<script>
	
		// ON DOM Load
		$(function() {
		
			$('.jumbotron .container *').animo( { animation: 'bounceIn' });
		
		});
		
	</script>
			
			
			
			
			
			
<!-- View Container Start -->
<div id="viewContainer" class="container">
<!-- CategoryList View JS Start -->
<script type="text/javascript">
   // ON DOM Load
   $(function() {
   	
   	// Initialize the UI manager
   	UI.init("CategoryList"); 
   	
   	// show the cart button
   	Cart.showButton();
   	
   	$("#shopNow").click(function() {
   		
   		$('body').scrollTo('#viewContainer');
   		
   	});
   	
   	// JS Animation for category blocks		
   	$(".categoryList .row > *").animo( { animation: 'fadeInUp' });
   	
   });
   	
</script>
<!-- CategoryList View JS End -->
<!-- CategoryList View HTML Start -->
<div class="categoryList">
   
   <ol class="breadcrumb" th:if="${#lists.size(breadcrumb) > 1}">
      <li th:class="${(iterStat.last)?'active':''}" th:each="breadcrumblink,iterStat : ${breadcrumb}" >
         <div th:if="${iterStat.last}" th:remove="tag" th:utext="${breadcrumblink.name}" />
            <a th:if="${not iterStat.last}" th:href="@{${breadcrumblink.url}}" th:utext="${breadcrumblink.name}"></a>
      </li>
   </ol>
   
	<div class="row row-no-gutter">
	
	<div class="hidden-xs col-sm-3">
	   <div id="globalNavigation">
	      <ul class="list-group">
	         <li class="list-group-item" th:each="category : ${categories}" >
	            <a class="home" 
	            th:href="@{${category.url}}"  
	            th:utext="${category.nameWithArrowStyle}">

	            </a>
	            <ul class="list-group subCategoryList">
	               <li th:each="subcat : ${category.children}" >
	                  <a th:utext="${subcat.name}" th:href="@{${subcat.url}}" />
	               </li>
	            </ul>
	         </li>
	      </ul>
	   </div>
	</div>
	
   <div class="col-xs-12 col-sm-9">
   <div class="row row-no-gutter">
   
   <!-- Grid Item -->		
   <div class="col-xs-12 col-sm-6 col-md-4" th:each="category: ${categories}">
   <div class="gridItem" >
   <!-- Grid Item Image-->
   <a th:href="@{${category.url}}" class="gridItemImage" th:style="${'background-image: url('''+category.imageURL+''')'}">
   <!-- Grid Item Image Overlay (Displays on Phones) -->
   <span class="row gridItemImageOverlay">
   <span class="col-xs-6 gridItemTitle" th:text="${category.name}"></span>
   <span class="col-xs-6 gridItemAction">
   <span class="btn btn-primary">Shop</span>
   </span>
   </span>
   <!-- /Grid Item Image Overlay -->
   </a>
   <!-- /Grid Item Image-->
   <!-- Grid Item Details (Displays on Tablet + Desktop)-->
   <div class="row gridItemDetails">
   <div class="col-xs-6">
   <p class="gridItemTitle" th:text="${category.name}"></p>
   </div>
   <div class="col-xs-6 gridItemAction"> 
   <a th:href="@{${category.url}}" class="btn btn-primary">Shop</a>
   </div>
   </div>
   <!-- /Grid Item Details-->
   </div>
   </div>
   <!-- /Grid Item Item -->
   </div>
   </div>
   </div>
   <!-- Pagination Start -->
   <ul class="pagination">
	   <li class="disabled"><a href="#">&laquo;</a></li>
	   <li class="active" ><a href="#">1</a></li>
	   <li><a href="#">2</a></li>
	   <li><a href="#">3</a></li>
	   <li><a href="#">4</a></li>
	   <li><a href="#">5</a></li>
	   <li><a href="#">&raquo;</a></li>
   </ul>
   <!-- Pagination End -->	
   </div>
   <!-- CategoryList View HTML END -->
   <!-- Pre Selection Notification -->
   <div class="modal fade" id="preSelectionNotification" tabindex="-1" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">
               <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
               </button>
               <h4 class="modal-title" id="myModalLabel"> <i class="fa fa-cutlery"></i> Pre-Select Your Meal!</h4>
            </div>
            <div class="modal-body">
               <div class="row">
                  <div class="col-xs-12 col-sm-6">
                     <img class="img-responsive" src="/img/bigroom/dinnerMeal1.jpg" />
                  </div>
                  <div class="col-xs-12 col-sm-6">
                     <h3>Congratulations!</h3>
                     <p>Pre-Select complimentary meal service is available on your flight!</p>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">No Thank You</button>
               <a href="/MealSelect" type="button" class="btn btn-primary">Select My Meals</a>
            </div>
         </div>
      </div>
   </div>
   <script type="text/javascript">
 /*     setTimeout(function() {
      		
      	$('#preSelectionNotification').modal('show')
      	
      
      },5000);
   */   
   </script>
   <!-- /Pre Selection Notification-->
</div>
<!--	 View Container End -->
	<!-- Footer Start-->
	<div id="footer" class="container-fluid">
		
		<div class="row">
			
			<div class="col-xs-12 col-sm-6 col-md-6">
				
				<p>&copy; 2014 AIR CANDADA AND AFFILIATES</p>
				
			</div>
				
			<div class="col-xs-12 col-sm-6 col-md-6">
				
				<span>
					<img src="/img/bigroom/egate.jpg" />
				</span>
				
			</div>
						
		</div>
		
		
	</div> 
	<!-- Footer End -->
	

	<!-- Cart Start -->
	<div id="thecart" th:include="/pops/include/mycart"></div>
	<!-- Cart End -->
	


</body>
	
</html>