

	<script type="text/javascript">
	
		// ON DOM Load
		$(function() {
			$('.comingsoon').show();
			$('.preSelection').hide();
			$('.jumbotron .container *').animo( { animation: 'bounceIn' });
		
		});
		
	</script>
	
	<script type="text/javascript">
	
	// ON DOM Load
	$(function() {
		
		// Initialize the UI manager
		UI.init("MealSelect"); 
		UI.header.hide();
		UI.footer.hide();
		// show the cart button
		Cart.showButton();
		
		$("#shopNow").click(function() {
			
			$('body').scrollTo('#viewContainer');
			
		});
		
		// JS Animation for category blocks		
		$(".row > *").animo( { animation: 'fadeInUp' });
		
		
		$('.selectMealBtn').click(function() {
			
			$('.selectMealBtn').text('Select Meal').removeClass('btn-success').addClass('btn-primary');
			$(this).text('Meal Selected!').removeClass('btn-primary').addClass('btn-success');
			
		});
			
		 
	
	});
	</script>