	<script type="text/javascript">
	
	// ON DOM Load
	$(function() {
		
		// Initialize the UI manager
		UI.init("DoneWelcome"); 
		
		// show the cart button
		$("#userButton,#mealSelectButton,#timerButton").parent().hide();
		
		$(".flightBar").hide();
		
		UI.hideNavigation();
	
	});
	
	</script>
	
<div th:inline="text">
Done sending welcome email to [[*{firstname}]] [[*{lastname}]] at [[*{email}]].
</div>
<p/>
<h3 th:if="${#lists.size(messages)>0}" th:text="Errors"/>
<ul  th:each="message : ${messages}">
<li th:text="${message}"/>
</ul>

