
			
	<!-- View Container Start -->
	<div id="viewContainer" class="container">	
		
	<!-- FlightConfirmation View JS Start -->
	<script type="text/javascript">
	
	// ON DOM Load
	$(function() {
		
		// Initialize the UI manager
		UI.init("FlightConfirmation"); 
		
		// show the cart button
		$("#userButton,#mealSelectButton,#timerButton").parent().hide();
		
		$(".flightBar").hide();
		
		UI.hideNavigation();
	
	});
	
	</script>
	<!-- FlightConfirmation View JS End -->
	
	<h1 th:text="'Welcome '+${firstname} +','"/>
	
	<div class="alert alert-success" role="alert">Please confirm the information below:</div>
	
	<div class="row">
		
		<div class="col-xs-12 col-sm-6">
			
			<div class="panel panel-default">
		
		   		<div class="panel-heading">
		   			
		   			<h3 class="panel-title"> 
		       			<i class="fa fa-user"></i> Name
		       		</h3>
		       		
		    	</div>
		    	
				<div class="panel-body">
					<p th:text="${firstname}+' '+ ${lastname}"/>
				</div>
				
			</div>	
			
		</div>
		
		<div class="col-xs-12 col-sm-6">
			
			<div class="panel panel-default">
		
		   		<div class="panel-heading">
		   			
		   			<h3 class="panel-title"> 
		       			<i class="fa fa-envelope"></i> Email
		       		</h3>
		       		
		    	</div>
		    	
				<div class="panel-body">
					<p th:text="${email}"/>
				</div>
				
			</div>
				
		</div>
		
	</div>
	
	<div class="row">
		
		<div class="col-xs-12 col-sm-6">
			
			<div class="panel panel-default">
		
		   		<div class="panel-heading">
		   			
		   			<h3 class="panel-title"> 
		       			<i class="fa fa-plane"></i> Flight
		       		</h3>
		       		
		    	</div>
		    	
				<div class="panel-body">
					<p th:text="${flightdata.flightNumber}"/>
				</div>
				
			</div>

		</div>
		
		<div class="col-xs-12 col-sm-6">
	
			
			<div class="panel panel-default">
		
		   		<div class="panel-heading">
		   			
		   			<h3 class="panel-title"> 
		       			<i class="fa fa-calendar"></i> Flight Date
		       		</h3>
		       		
		    	</div>
		    	
				<div class="panel-body">
					<p th:text="${flightdata.fDepartureDate}"/>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
	<div class="row">
		
		<div class="col-xs-12 col-sm-6">
			
			<div class="panel panel-default">
		
		   		<div class="panel-heading">
		   			
		   			<h3 class="panel-title"> 
		       			<i class="fa fa-plane"></i> Flight Origin
		       		</h3>
		       		
		    	</div>
		    	
				<div class="panel-body">
					<p th:text="${flightdata.originStationSpelled}"/>
				</div>
				
			</div>

		</div>
		
		<div class="col-xs-12 col-sm-6">
			
			<div class="panel panel-default">
		
		   		<div class="panel-heading">
		   			
		   			<h3 class="panel-title"> 
		       			<i class="fa fa-plane"></i> Flight Destination
		       		</h3>
		       		
		    	</div>
		    	
				<div class="panel-body">
					<p th:text="${flightdata.destinationStationSpelled}"/>
				</div>
				
			</div>

		</div>
		

	</div>
	
	
	
	<p>
		
		<a th:href="${loginlink}" class="btn btn-primary"> Confirm </a>
		
	</p>
 


 
	</div>
	<!-- View Container End -->