<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Flight Confirmation Page</title>
</head>
<body class="">	
	<!-- Header Start -->
	<div id="header">
			
		<nav class="navbar navbar-default" role="navigation">
	
			<div class="container">
				
				<div class="row">
					
						
					<div class="col-xs-2 col-sm-2 col-md-4">
										
						<a class="navbar-brand" href="/Public">
							
							<img class="logo hidden-xs hidden-sm" src="/img/logo_air_canada.png"/>
							<img class="logo hidden-md hidden-lg" src="/img/logoAirCanadaSmall.jpg"/>
						</a>
											
					</div>
					
										<div class="col-xs-2">
					
						<a id="mealSelectButton" href="/MealSelect">			
							<i class="fa fa-cutlery"></i>
							<span class="hidden-xs hidden-sm hidden-md">Meal Select</span>
						</a>
					
					</div>
										
					<div class="col-xs-4 col-sm-2 col-md-2">
					
						<a id="timerButton">			
							<i class="fa fa-clock-o"></i>
							<span id="timeLeft"></span>
							<span class="hidden-xs hidden-sm hidden-md">Remaining</span>
						</a>
					
					</div>
					
					<div class="col-xs-2 col-sm-3 col-md-2">
					
						<a id="userButton" href="/UserDashboard">			
							<i class="fa fa-user"></i> 
							<span class="userName hidden-xs hidden-md">Donald McMains</span>
						</a>
					
					</div>
	
					<div class="col-xs-2 col-sm-3 col-md-2">
					
						
	<!-- Cart HTML Start -->
	<a id="cartButton" data-toggle="modal" data-target="#cartView" >			
		<span class="badge" id="cartCounter"  style="position:absolute;top:5px;left:40px;">0</span>  <i class="fa fa-shopping-cart"></i> 
		<span class="hidden-xs">Cart</span>
	</a>
		
	<div id="cartContainer" class="view" style="display:none;">
		
		<div class="container">

		<p>You have <strong> <span id="cartCounter">1</span> item</strong> in your cart.</p>
		
		<div id="cartItemList">
			
			
		</div>

		<div id="cartFooter">

			<h3 class="text-uppercase">Total <span id="cartTotal">$30.00</span> </h3> 
				
			<a href="/Payment" class="btn btn-primary text-uppercase">Checkout</a>	

		</div>
		
		</div>
			
	</div>
	
	<audio id="cartAddSound">
	  <source src="/sound/pop.mp3" type="audio/mpeg"/>

	</audio>
	<!-- Cart HTML End -->
	
	

	
						
					</div>
					
  				</div>

			</div> 
			  
		</nav>
		
		
	<!-- Flight Bar Start -->
	<div class="flightBar">
		
		<nav class="navbar navbar-default" role="navigation">
			
			<div class="container">
				
				<p class="navbar-text">
					
					<button><i class="fa fa-reply"></i> <span class="hidden-xs hidden-sm">Return to Booking</span></button>
					<span class="divider">|</span>
						
					<i class="fa fa-plane"></i> <b>Flight Info</b> 
					<span class="divider">|</span> <b>Passenger:</b> Donald McMains
					<span class="divider"></span> <b>Flight:</b> ABC-1824
					
					<span class="divider"></span> <b>To:</b> Vancouver
					
					<span class="divider"></span> <i class="fa fa-clock-o"></i> <b>Departure:</b> 10:35AM
					
					<span class="divider"></span> <b>Arrival:</b> 4:35PM
			
				</p>
								
			</div>
			
		</nav>
		
	</div>
	<!-- /Flight Bar  -->		
	</div>
	
	<script type="text/javascript" src="/js/Countdown.js"></script>
	<!-- Header End -->
	
	
	<!-- Splash -->
	<div class="jumbotron text-uppercase text-center">
		
		<div class="container">
			
			<h1>Welcome to Pre-Order</h1>
			
			<p>Browse hundreds of products delivered right to your seat</p>
				
			<p> <a id="shopNow" class="btn btn-primary btn-lg" role="button"> Shop Now</a> </p>
		
		</div>
		
	</div>
	
	<script type="text/javascript">
	
		// ON DOM Load
		$(function() {
		
			$('.jumbotron .container *').animo( { animation: 'bounceIn' });
		
		});
		
	</script>
	
	
	<!-- /Splash -->
	

			
	<!-- View Container Start -->
	<div id="viewContainer" class="container">	
		
	<!-- FlightConfirmation View JS Start -->
	<script type="text/javascript">
	
	// ON DOM Load
	$(function() {
		
		// Initialize the UI manager
		UI.init("FlightConfirmation"); 
		
		// show the cart button
		$("#userButton,#mealSelectButton,#timerButton").parent().hide();
		
		$(".flightBar").hide();
	
	});
	
	function formatDate(var date){
		Date d = new Date(date);
	}
		
	</script>
	<!-- FlightConfirmation View JS End -->
	
	<h1 th:text="'Hey '+${firstname}"/>
	
	<div class="alert alert-success" role="alert">We need you to confirm the information below and make sure everything looks alright:</div>
	
	<div class="row">
		
		<div class="col-xs-12 col-sm-6">
			
			<div class="panel panel-default">
		
		   		<div class="panel-heading">
		   			
		   			<h3 class="panel-title"> 
		       			<i class="fa fa-user"></i> Name
		       		</h3>
		       		
		    	</div>
		    	
				<div class="panel-body">
					<p th:text="${firstname}+' '+ ${lastname}"/>
				</div>
				
			</div>	
			
		</div>
		
		<div class="col-xs-12 col-sm-6">
			
			<div class="panel panel-default">
		
		   		<div class="panel-heading">
		   			
		   			<h3 class="panel-title"> 
		       			<i class="fa fa-envelope"></i> Email
		       		</h3>
		       		
		    	</div>
		    	
				<div class="panel-body">
					<p th:text="${email}"/>
				</div>
				
			</div>
				
		</div>
		
	</div>
	
	<div class="row">
		
		<div class="col-xs-12 col-sm-6">
			
			<div class="panel panel-default">
		
		   		<div class="panel-heading">
		   			
		   			<h3 class="panel-title"> 
		       			<i class="fa fa-plane"></i> Flight
		       		</h3>
		       		
		    	</div>
		    	
				<div class="panel-body">
					<p th:text="${flightdata.flightNumber}"/>
				</div>
				
			</div>

		</div>
		
		<div class="col-xs-12 col-sm-6">
	
			
			<div class="panel panel-default">
		
		   		<div class="panel-heading">
		   			
		   			<h3 class="panel-title"> 
		       			<i class="fa fa-calendar"></i> Flight Date
		       		</h3>
		       		
		    	</div>
		    	
				<div class="panel-body">
					<p th:text="${flightdata.fDepartureDate}"/>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
	<div class="row">
		
		<div class="col-xs-12 col-sm-6">
			
			<div class="panel panel-default">
		
		   		<div class="panel-heading">
		   			
		   			<h3 class="panel-title"> 
		       			<i class="fa fa-plane"></i> Flight Origin
		       		</h3>
		       		
		    	</div>
		    	
				<div class="panel-body">
					<p th:text="${flightdata.originStation}"/>
				</div>
				
			</div>

		</div>
		
		<div class="col-xs-12 col-sm-6">
			
			<div class="panel panel-default">
		
		   		<div class="panel-heading">
		   			
		   			<h3 class="panel-title"> 
		       			<i class="fa fa-plane"></i> Flight Destination
		       		</h3>
		       		
		    	</div>
		    	
				<div class="panel-body">
					<p th:text="${flightdata.destinationStation}"/>
				</div>
				
			</div>

		</div>
		

	</div>
	
	
	
	<p>
		
		<a th:href="${loginlink}" class="btn btn-primary"> Confirm </a>
		
	</p>
 


 
	</div>
	<!-- View Container End -->
	
		
	
<!-- Add to Cart -->
<div class="modal fade" id="cartView" tabindex="-1" role="dialog" aria-labelledby="addedToCartLabel" aria-hidden="true">
	
  <div class="modal-dialog">
  	
    <div class="modal-content">
    	
      <div class="modal-header">
      	
        <button type="button" class="close" data-dismiss="modal">
        	
        	<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        	
        </button>
 
       
        <h4 class="modal-title" id="myModalLabel">Your Cart</h4>

        
      </div>
      
      <div class="modal-body">
       
			
	<!-- Cart Item -->
	<div class="cartItem">
										
		<div class="row row-no-gutter">
			
			<div class="col-xs-2 col-sm-1">
				
				<div class="cartItemImage">
					
					<img src="/img/acqua.jpg"/>
					
				</div>
				
			</div>									
			
			<div class="col-xs-4 ">
													
				<strong class="cartItemTitle">Roberto Cavalli Acqua</strong>
				<strong class="cartItemPrice">$30.00</strong>
				
			</div>
			
			<div class="col-xs-2">
				<input type="text" class="form-control text-center" maxlength="3" placeholder="Qty" value="1" />
			</div>
			
			<div class="col-xs-2">
				
				<span class="cartItemTotalPrice text-center">$30.00 </span>
				
			</div>
			
			<div class="col-xs-2 text-right">
				<span class="btn btn-default"> x </span> 
			</div>
						
		</div>
	
	</div>
	
	<!-- /Cart Item -->              
      </div>
      
      <div class="modal-footer">
      	
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
        <a href="/Payment" type="button" class="btn btn-primary">Checkout</a>
        
      </div>
      
    </div>
    
  </div>
  
</div>


<!-- Add to Cart -->
<div class="modal fade" id="addedToCart" tabindex="-1" role="dialog" aria-labelledby="addedToCartLabel" aria-hidden="true">
	
  <div class="modal-dialog">
  	
    <div class="modal-content">
    	
      <div class="modal-header">
      	
        <button type="button" class="close" data-dismiss="modal">
        	
        	<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        	
        </button>
 
       
        <h4 class="modal-title" id="myModalLabel">Added to Cart</h4>

        
      </div>
      
      <div class="modal-body">
        
        	
	<!-- Cart Item -->
	<div class="cartItem">
										
		<div class="row row-no-gutter">
			
			<div class="col-xs-2 col-sm-1">
				
				<div class="cartItemImage">
					
					<img src="/img/acqua.jpg"/>
					
				</div>
				
			</div>									
			
			<div class="col-xs-4 ">
													
				<strong class="cartItemTitle">Roberto Cavalli Acqua</strong>
				<strong class="cartItemPrice">$30.00</strong>
				
			</div>
			
			<div class="col-xs-2">
				<input type="text" class="form-control text-center" maxlength="3" placeholder="Qty" value="1" />
			</div>
			
			<div class="col-xs-2">
				
				<span class="cartItemTotalPrice text-center">$30.00 </span>
				
			</div>
			
			<div class="col-xs-2 text-right">
				<span class="btn btn-default"> x </span> 
			</div>
						
		</div>
	
	</div>
	
	<!-- /Cart Item -->              
      </div>
      
      <div class="modal-footer">
      	
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
        <a href="/Payment" type="button" class="btn btn-primary">Checkout</a>
        
      </div>
      
    </div>
    
  </div>
  
</div>		
</body>






<!-- <h2 th:text="'Please Confirm Your Flights '+${firstname}"/>
<div class="row ">
		<div class="col-xs-12 col-sm-6">
			<h3> 
				<i class="fa fa-plane"></i> Flight #123 
			</h3>
			<div class="panel panel-default">
		   		<div class="panel-heading">
		   			<h3 class="panel-title"> 
		       			Outbound 
		       		</h3>
		    	</div>
				<div class="panel-body">
					<p>
						<span class="label label-success">On Time</span>
					</p>				
					<p><strong th:text="'Flight ' + ${flightdata.flightNumber}+' on '+ ${flightdata.departureDate}"/>
					<table>
						<tr><td>Flight number:</td><td th:text="${flightdata.flightNumber}"/></tr>
						<tr><td>Origin:</td><td th:text="${flightdata.originStation}"/></tr>
						<tr><td>Destination:</td><td th:text="${flightdata.destinationStation}"/></tr>
						<tr><td>Departure Time:</td><td th:text="${flightdata.fDepartureDate}"/></tr>
						<tr><td>Arrival Time:</td><td th:text="${flightdata.fArrivalDate}"/></tr>
					</table>
					</p>	
				</div>
			</div>
		</div>
	</div>
	<p> <a class="btn btn-primary" href="/login"> Confirm</a> </p>-->
</html>