	
	<!-- View Container  -->
	<div id="viewContainer" class="container">	
	
		<!--JS-->
		<script type="text/javascript">
		
		// ON DOM Load
		$(function() {
			
			// Initialize the UI manager
			UI.init("MealSelect"); 
			
			// show the cart button
			Cart.showButton();
			
			$("#shopNow").click(function() {
				
				$('body').scrollTo('#viewContainer');
				
			});
			
			$('.jumbotron .container *').animo( { animation: 'bounceIn' });
			
			// JS Animation for category blocks		
			$(".row > *").animo( { animation: 'fadeInUp' });
			
			
			$('.selectMealBtn').click(function() {
				
				$('.selectMealBtn').text('Select Meal').removeClass('btn-success').addClass('btn-primary');
				$(this).text('Meal Selected!').removeClass('btn-primary').addClass('btn-success');
				
				if (this.id!=null) {
					  dinnerSelected = this.id.substring(10); // get pass 'selectmeal'
				//  alert("dinnerSelected  was: "+dinnerSelected) 
				}
				
				 var mealform = '#'+(this.id).replace("selectmeal","mealform");
				 $(mealform).click();
				
			});		 
		
		});
			
		</script>
		<!-- /JS -->
		
		<!-- View --> 
		
		<div class="categoryList">
		
			<!-- Row  -->
		    <div class="row row-no-gutter" th:unless="${#lists.isEmpty(breakfast)}">
		    
		    	<!-- Grid Item -->		
				<div class="col-xs-12 col-sm-6 col-md-4"  th:each="product : ${breakfast}">
				
					<div class="gridItem mealItem product_container">
						
						<!-- Grid Item Image-->
						<a class="gridItemImage" th:style="${'background-image: url('''+product.imageUrl+''')'}">
						
							<!-- Grid Item Image Overlay (Displays on Phones) -->
							<span class="row gridItemImageOverlay">
								
								<span class="col-xs-8 gridItemTitle" th:utext="${product.name}" />
				
								<span class="col-xs-4 gridItemAction">
									
									<span data-toggle="modal" data-target="#mealSelectedModal"  class="btn btn-primary selectMealBtn" th:id="${'selectmeal'+product.product_ID}">Select Meal</span>
						
									
								</span>
								
							</span>
							<!-- /Grid Item Image Overlay -->
				
						</a>
						<!-- /Grid Item Image-->
						
						<div class="gridItemDetails">
						
							<p class="gridItemTitle">
							
								<strong th:utext="${product.name}" />
							
							</p>
							
							<p class="gridItemDescription" th:utext="${product.description}"/>
													
							<span data-toggle="modal" data-target="#mealSelectedModal"  class="btn btn-primary selectMealBtn" th:id="${'selectmeal'+product.product_ID}">Select Meal</span>

						<!-- This is for the personalized name attribute. TODO: fill automatically with passenger -->
						<div class="product-options hidden">
						<div id="product-option-data" hidden="hidden" data-product-option-pricing="[]" data-product-options="[{&quot;id&quot;:3,&quot;type&quot;:&quot;TEXT&quot;,&quot;values&quot;:{},&quot;selectedValue&quot;:null}]"></div>
						<ul style="display:none">
						   <li class="product-option-group cf">
						      <label>Personalized Name</label>: 
						      <span class="option-value" data-optiontype="TEXT" id="NAME"></span>
						      <ul class="cf">
						         <li>
						            <input value="" maxlength="255" name="itemAttributes[null]" type="org.broadleafcommerce.core.catalog.service.type.ProductOptionType@273d4c" />
						         </li>
						      </ul>
						   </li>
						</ul>
						</div>
						
						<div class="add_to_cart">
			            <blc:form method="POST"  th:action="@{/cart/add}">
 			               <select name="itemAttributes[NAME]" style="display:none" />
			               <input type="hidden" name="productId" th:value="${product.product_ID}" />
			               <input type="hidden" name="mealType" value="B"/>
			               <input type="hidden" name="quantity" value="1" />
			               <input type="hidden" name="hasProductOptions" value="false" />
			               <input th:id="${'mealform'+product.product_ID}" style="display:none" type="submit" class="addToCart big red" th:value="#{product.buyNow}"/>
			
			            </blc:form>
			        	 </div>
						
						</div>
				
					</div>
				
				</div>
				<!-- /Grid Item -->

			</div>	
			<!-- /Row  -->	
		
		
			<!-- Row  -->
		    <div class="row row-no-gutter" th:unless="${#lists.isEmpty(lunch)}">
		    
		    	<!-- Grid Item -->		
				<div class="col-xs-12 col-sm-6 col-md-4"  th:each="product : ${lunch}">
				
					<div class="gridItem mealItem product_container">
						
						<!-- Grid Item Image-->
						<a class="gridItemImage" th:style="${'background-image: url('''+product.imageUrl+''')'}">
						
							<!-- Grid Item Image Overlay (Displays on Phones) -->
							<span class="row gridItemImageOverlay">
								
								<span class="col-xs-8 gridItemTitle" th:utext="${product.name}" />
				
								<span class="col-xs-4 gridItemAction">
									
									<span data-toggle="modal" data-target="#mealSelectedModal"  class="btn btn-primary selectMealBtn" th:id="${'selectmeal'+product.product_ID}">Select Meal</span>
						
									
								</span>
								
							</span>
							<!-- /Grid Item Image Overlay -->
				
						</a>
						<!-- /Grid Item Image-->
						
						<div class="gridItemDetails">
						
							<p class="gridItemTitle">
							
								<strong th:utext="${product.name}" />
							
							</p>
							
							<p class="gridItemDescription" th:utext="${product.description}"/>
													
							<span data-toggle="modal" data-target="#mealSelectedModal"  class="btn btn-primary selectMealBtn" th:id="${'selectmeal'+product.product_ID}">Select Meal</span>

						<!-- This is for the personalized name attribute. TODO: fill automatically with passenger -->
						<div class="product-options hidden">
						<div id="product-option-data" hidden="hidden" data-product-option-pricing="[]" data-product-options="[{&quot;id&quot;:3,&quot;type&quot;:&quot;TEXT&quot;,&quot;values&quot;:{},&quot;selectedValue&quot;:null}]"></div>
						<ul style="display:none">
						   <li class="product-option-group cf">
						      <label>Personalized Name</label>: 
						      <span class="option-value" data-optiontype="TEXT" id="NAME"></span>
						      <ul class="cf">
						         <li>
						            <input value="" maxlength="255" name="itemAttributes[null]" type="org.broadleafcommerce.core.catalog.service.type.ProductOptionType@273d4c" />
						         </li>
						      </ul>
						   </li>
						</ul>
						</div>
						
						<div class="add_to_cart">
			            <blc:form method="POST"  th:action="@{/cart/add}">
						   <select name="itemAttributes[NAME]" style="display:none" />
			               <input type="hidden" name="productId" th:value="${product.product_ID}" />
			               <input type="hidden" name="mealType" value="L"/>
			               <input type="hidden" name="quantity" value="1" />
			               <input type="hidden" name="hasProductOptions" value="false" />
			               <input th:id="${'mealform'+product.product_ID}" style="display:none" type="submit" class="addToCart big red" th:value="#{product.buyNow}"/>
			
			            </blc:form>
			        	 </div>
						
						</div>
				
					</div>
				
				</div>
				<!-- /Grid Item -->

			</div>	
			<!-- /Row  -->	
				

			<!-- Row  -->
		    <div class="row row-no-gutter" th:unless="${#lists.isEmpty(dinner)}">
		    
		    	<!-- Grid Item -->		
				<div class="col-xs-12 col-sm-6 col-md-4"  th:each="product : ${dinner}">
				
					<div class="gridItem mealItem product_container">
						
						<!-- Grid Item Image-->
						<a class="gridItemImage" th:style="${'background-image: url('''+product.imageUrl+''')'}">
						
							<!-- Grid Item Image Overlay (Displays on Phones) -->
							<span class="row gridItemImageOverlay">
								
								<span class="col-xs-8 gridItemTitle" th:utext="${product.name}" />
				
								<span class="col-xs-4 gridItemAction">
									
									<span data-toggle="modal" data-target="#mealSelectedModal"  class="btn btn-primary selectMealBtn" th:id="${'selectmeal'+product.product_ID}">Select Meal</span>
						
									
								</span>
								
							</span>
							<!-- /Grid Item Image Overlay -->
				
						</a>
						<!-- /Grid Item Image-->
						
						<div class="gridItemDetails">
						
							<p class="gridItemTitle">
							
								<strong th:utext="${product.name}" />
							
							</p>
							
							<p class="gridItemDescription" th:utext="${product.description}"/>
													
							<span data-toggle="modal" data-target="#mealSelectedModal"  class="btn btn-primary selectMealBtn" th:id="${'selectmeal'+product.product_ID}">Select Meal</span>

						<!-- This is for the personalized name attribute. TODO: fill automatically with passenger -->
						<div class="product-options hidden">
						<div id="product-option-data" hidden="hidden" data-product-option-pricing="[]" data-product-options="[{&quot;id&quot;:3,&quot;type&quot;:&quot;TEXT&quot;,&quot;values&quot;:{},&quot;selectedValue&quot;:null}]"></div>
						<ul style="display:none">
						   <li class="product-option-group cf">
						      <label>Personalized Name</label>: 
						      <span class="option-value" data-optiontype="TEXT" id="NAME"></span>
						      <ul class="cf">
						         <li>
						            <input value="" maxlength="255" name="itemAttributes[null]" type="org.broadleafcommerce.core.catalog.service.type.ProductOptionType@273d4c" />
						         </li>
						      </ul>
						   </li>
						</ul>
						</div>
 						
						<div class="add_to_cart">
			            <blc:form method="POST"  th:action="@{/cart/add}">
 			               <select name="itemAttributes[NAME]" style="display:none" />
			               <input type="hidden" name="productId" th:value="${product.product_ID}" />
			               <input type="hidden" name="quantity" value="1" />
			               <input type="hidden" name="mealType" value="D"/>
			               <input type="hidden" name="hasProductOptions" value="false" />
			               <input th:id="${'mealform'+product.product_ID}" style="display:none" type="submit" class="addToCart big red" th:value="#{product.buyNow}"/>
			
			            </blc:form>
			        	 </div>
						
						</div>
				
					</div>
				
				</div>
				<!-- /Grid Item -->

			</div>	
			<!-- /Row  -->	
		
		</div>				
					
		<!-- /View Container -->
	
		<!-- Modal -->
		<div class="modal fade" id="mealSelectedModal" tabindex="-1" role="dialog" aria-labelledby="mealSelectedModalLabel" aria-hidden="true">
			
		  <div class="modal-dialog">
		  	
		    <div class="modal-content">
		    	
		     
		      <div class="modal-body">
		      	
		      	<div class="preSelectionModalImage">
		      		
		      		<h1>Meal Pre-Selected!</h1>
		      		
		      	</div>

		        <p>Thank you for pre-selecting your meal. To complete the selection process, please select "Continue" below to confirm and save your selection.</p>	  
		              
		      </div>
		      
		      <div class="modal-footer">
		      	
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        
		        <a href="/checkout/mealorderreview" class="btn btn-primary">Continue</a>
		        
		      </div>
		      
		    </div>
		    
		  </div>
		  
		</div>
		<!-- /Modal -->
		
	</div>
	<!-- /ViewContainer -->
	
