  <div id="login">
        <h3><span>Login to Your Account</span></h3>
        <h4>Don't worry about password, I know it because I registered for you</h4>

        <div class="clearfix">
            <blc:form method="post" action="/login_post.htm" name="theform">
                
                
                <div class="form50">
                    <label for="j_username"><span>Email</span></label>
                    <input type="email" name="j_username" th:value="${email}" class="field50" />
                </div>
                
                <div class="form50" style="display:none">
                    <label for="j_password"><span>Password</span></label>
                    <input type="password" name="j_password" value="test123" class="field50" />
                </div>
                
                <div class="login_register">
                    <input class="login_button big red" type="submit" value="Login" />
                </div>
                
          	</blc:form>      
        </div>
        </div>
        <script>
        document.theform.submit();
        </script>