	<!-- View Container Start -->
	<div id="viewContainer" class="container">	
		
	<!-- ProductList View JS Start -->
	<script type="text/javascript">
	
	// ON DOM Load
	$(function() {
		
		// Initialize the UI manager
		UI.init("ProductList"); 
		
		// show the cart button
		Cart.showButton();
		
		// JS Animation for category blocks		
		$(".categoryList .row > *").animo( { animation: 'fadeInUp' });
	
	});
		
	</script>
	<!-- ProductList View JS End -->
	
	<!-- ProductList View HTML Start --> 
	<div class="categoryList"> 
		
	

		<ol class="breadcrumb" th:if="${#lists.size(breadcrumb) > 1}">
		
		  <li th:class="${(iterStat.last)?'active':''}" th:each="breadcrumblink,iterStat : ${breadcrumb}" >
			<div th:if="${iterStat.last}" th:remove="tag" th:utext="${breadcrumblink.name}" />
		  	<a th:if="${not iterStat.last}" th:href="@{${breadcrumblink.url}}" th:utext="${breadcrumblink.name}"></a>
		  </li>
		  
		</ol>		
				
		<div class="row row-no-gutter">
			
			<div class="hidden-xs col-sm-3">
				
				<div id="globalNavigation">
		
<ul class="list-group">
   <li class="list-group-item" th:each="category : ${categories}">
      <a class="home" th:href="@{${category.url}}"  th:utext="${category.nameWithArrowStyle}"><i class="fa fa-caret-right"></i> </a>
      <ul class="list-group subCategoryList">
         <li th:each="subcat : ${category.children}">
            <a th:utext="${subcat.name}" th:href="@{${subcat.url}}" />
         </li>
      </ul>
   </li>
</ul>
	
				</div>				
			</div>
			
			<div class="col-xs-12 col-sm-9">
				

			
										
						
	<!-- Product Item -->		
	<div class="listItem" th:each="product : ${products}">
		
		<div class="row row-no-gutter">
			
			<div class="col-xs-4 col-sm-4 col-md-3">
							
				<!-- Grid Item Image-->
				<a th:href="@{${product.url}}" class="gridItemImage listItemImage" th:style="${'background-image: url('''+product.imageUrl+''')'}">  
		
				</a>
				<!-- /Grid Item Image-->
				
			</div>
				
			<div class="col-xs-8 col-sm-8 col-md-6   listItemDetails">
	
				<h3 class="text-uppercase listItemTitle" th:utext="${product.name}"></h3>
				
				<p> <strong th:inline="text"><div blc:price="*{product.retail_price}"></div></strong> </p>
				
				<p class="listItemDescription" th:utext="${product.description}">
				 
				</p>
				
				<span class="btn btn-primary hidden-md hidden-lg">Shop</span>
	
			</div>
				
			<div class="hidden-xs hidden-sm col-md-3 text-right">	
				
					<a th:href="@{${product.url}}" class="btn btn-primary">Shop</a>
			</div>
	
		</div>
	
	</div>
	<!-- /Product Item -->
	

				
			</div>
			
		</div>

		
		
<!-- Pagination Start -->
<ul class="pagination">
	
	<li class="disabled"><a href="#">&laquo;</a></li>
	
	<li class="active" ><a href="#">1</a></li>
	
	<li><a href="#">2</a></li>
	<li><a href="#">3</a></li>
	<li><a href="#">4</a></li>
	<li><a href="#">5</a></li>
	
	<li><a href="#">&raquo;</a></li>
	
</ul>
<!-- Pagination End -->	
	</div>
	<!-- CategoryList View HTML END -->
	
 
	</div>
	<!-- View Container End -->
