<div id="account">  
    <div style="display:none;" th:fragment="title" th:inline="text">Login - Broadleaf Demo - Heat Clinic</div>
    
    <div id="login">
        <h3><span th:text="#{login.loginToAccount}">Login to Your Account</span></h3>
        <p><span th:text="#{login.alreadyMember}">Already a member? Sign in using the form below</span>.</p>
        
        <span class="error" th:if="${param.error}">
            <p><span th:text="#{login.noMatchTryAgain}">The e-mail address and/or password entered do not match our records.  Please try again</span></p>
        </span>

        <div class="clearfix">
            <blc:form th:action="@{/login_post.htm}" name="theform" method="post">
                <input type="hidden" name="successUrl" th:if="${successUrl}" th:value="${successUrl}"/>
                
                <div class="form50">
                    <label for="j_username"><span th:text="#{login.email}">Email</span></label>
                    <input type="email" name="j_username" th:class="${param.error} ? 'field50 fieldError' : 'field50'" />
                </div>
                
                <div class="form50">
                    <label for="j_password"><span th:text="#{login.password}">Password</span></label>
                    <input type="password" name="j_password" th:class="${param.error} ? 'field50 fieldError' : 'field50'" />
                </div>
                
                <div class="login_register">
                    <input class="login_button big red" type="submit" th:value="#{login.login}"/>
                </div>
                
                <div class="login_register_alt_links">
                    <a class="account" th:href="@{/register}"><span th:text="#{login.register}">Register</span></a>
                    <br/>
                    <a class="account" th:href="@{/login/forgotPassword}"><span th:text="#{login.forgotPassword}">Forgot Password</span></a>
                </div>
            </blc:form>
        </div>
    </div>
</div>

<form name="info" style="display:none">
Email: <input name="email" type="text" th:value="${session.email}"/><br/>
Flight: <input name="flight" type="text" th:value="${session.flight}"/> <br/>
Error: <input name="theerror" type="text" th:value="${param.error}"/>
</form>

<script>
// If there is error, stay where you are
if (document.info.theerror.value=="") {

// if there is auto login info, try to click that button for the user
if (document.info.email.value!=null) {
  if (document.info.email.value!="null") {
	  document.theform.j_username.value=document.info.flight.value+"|"+document.info.email.value
	  document.theform.j_password.value="Welcome1"
	  document.theform.submit();
  }
}
}
</script>