
	<!-- Cart Item -->
    <div class="cartItem" th:each="item : ${cart.orderItems}" th:object="${item}" th:id="${'productRow' + item.id}">

										
		<div class="row row-no-gutter">
			
			<div class="col-xs-2 col-sm-1">
				
				<div class="cartItemImage">
					<img th:if="*{product.media['primary']}" th:src="@{*{product.media['primary'].url} + '?thumbnail'}" width="60" th:alt="*{product.name}" />					
				</div>
				
			</div>									
			
			<div class="col-xs-5 ">
													
				<strong class="cartItemTitle" th:text="*{product.name}"></strong>
				<blc:product_option_display orderItem="${item}" >
                     <ul th:unless="${#lists.isEmpty(productOptionDisplayValues)}" class="productOptions">
                         <li th:each="entry: ${productOptionDisplayValues}">
                           <span  th:text="${entry.key} + ': ' + ${entry.value}"></span>
                         </li>
                     </ul>
                </blc:product_option_display> 
				<strong class="cartItemPrice"  blc:price="*{getPriceBeforeAdjustments(true)}"></strong>
				
			</div>
			
			<div class="col-xs-1">
				<input type="text" class="form-control text-center" style="cursor:default" disabled="disabled" maxlength="3" placeholder="Qty" th:value="*{quantity}" />
<!--				
				<blc:form method="POST" th:action="@{/cart/updateQuantity}">
                    <input type="hidden" name="productId" th:value="*{product.id}" />
                    <input type="hidden" name="orderItemId" th:value="*{id}" />
                    <input type="text" name ="quantity" class="form-control text-center" maxlength="3" placeholder="Qty" th:value="*{quantity}" />
                    <input type="submit" class="updateQuantity" th:value="#{cart.update}"/>
                </blc:form>
-->				
			</div>
			
			<div class="col-xs-2">
				
				<span class="cartItemTotalPrice text-center"  blc:price="*{getPriceBeforeAdjustments(true)}"></span>
				
			</div>
			
			<div class="col-xs-1 text-right">
				<a class="cartLinkBtn remove_from_cart" th:href="@{/cart/remove(orderItemId=*{id}, productId=*{product.id})}"><span class="btn btn-default"> x </span></a>
			</div>
						
		</div>
	
	</div>
	
